body{
  background: url('http://wallpaper-gallery.net/images/free-irish-wallpaper/free-irish-wallpaper-9.jpg');

}


.wrapper{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 70%;
  text-align: center;
  /* align-self: center; */
  padding-left: 15%;
  padding-right: 15%;
}
#triviaGame{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}